<ion-header>
  <ion-toolbar>
    <ion-title>Messagerie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">Déconnexion</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let message of messages | async">
    <ion-item>
      <ion-label>{{ message.text }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input
      [(ngModel)]="newMessage"
      placeholder="Nouveau message"
    ></ion-input>
    <ion-button (click)="sendMessage()">Envoyer</ion-button>
  </ion-item>

  <ion-button (click)="signIn()">Se connecter avec Google</ion-button>
</ion-content>
