.grad-blue {
  --background: linear-gradient(to right, #007bff, #2196F3);
  color: white; /* Couleur du texte */
}

ion-avatar {
  width: 100px; /* Définissez la largeur souhaitée */
  height: 100px; /* Définissez la hauteur souhaitée */
}

ion-slides {
  width: 100%;
}

ion-slide {
  width: 100%;
}

.vertical-card {
  margin-top: 16px;  // Ajustez la marge selon vos besoins
}


ion-slides {
  width: 100%;
}

ion-slide {
  width: 100%;
}

.vertical-card {
  margin-top: 16px;  // Ajustez la marge selon vos besoins
}

